body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f6d103;
}

table {
    border: 4px solid red; /* Set table border to red and thicker */
}

th, td {
    border: 4px solid red;
    color: rgb(7, 10, 196);
    padding: 8px;
    text-align: left;   
}

thead{
    border: 4px solid red;
    background-color: rgb(255, 119, 0);
    color: red;
}


/* Custom styles */
#teto {
    position: relative;
}

#teto2 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#kep {
    width: 150px;
    height: 150px;
}

h1{
    color: red;
    text-decoration: underline;
    text-align: center;
}
